@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Big Shoulders Display', cursive; */

*{
    font-family: 'Lexend Deca', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}
