@media (max-width: 1100px){
    body{
        height: 100%;
    }
    .cards-container{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .card:first-child{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .card:last-child{
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    footer p{
        text-align: center;
        width: 250px;
        margin-bottom: -20px;
    }
}